
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  background: green;
}

.header {
  padding: 25px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.header a {
  background: #f0f0f0; /* Цвет фона */
  border: 1px solid black; /* Параметры рамки */
  padding: 10px; /* Поля вокруг текста */
  margin-bottom: 10px; /* Отступ снизу */
  margin-right: 30px;
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: 2px 2px 2px red;
  text-decoration: none;
}


